@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

h1 {
  font-family: var(--font-minecraftseven);
}

h2 {
  font-family: var(--font-minecraftseven);
}

h3 {
  font-family: var(--font-minecraftseven);
}

h4 {
  font-family: var(--font-minecraftseven);
}

h5 {
  font-family: var(--font-minecraftseven);
}

h6 {
  font-family: var(--font-minecraftseven);
}
